.navbar {
  background-color: var(--foreground-color);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex {
  display: flex;
}

.margin-right {
  margin-right: 2rem;
  color: var(--white) !important;
}

.margin-right:hover {
  color: var(--green) !important;
}

.nav-links {
  font-family: "Hi Melody", cursive;
  font-size: 2.5rem;
}

.icon-button:hover {
  color: var(--green) !important;
}
