@import url("https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap");
:root {
  --green: #3bba96;
  --background-color: #2e3047;
  --foreground-color: #707793;
  --white: #ffffff;
  --black: #000000;
}
